/*-------------------------------------------- fonts link start*/
/* merriweather-regular - latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/merriweather-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/merriweather-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-300 - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/oswald-v48-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/oswald-v48-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}  
/*-------------------------------------------- fonts link end*/

/*-------------------------------------------- basis sett start*/
*, 
*::after,
*::before {
    box-sizing: border-box;
    cursor: none !important;
}

:root {
    --text-color: #000;
    --preloader-bg: #b1b3b2;
}

body {
    min-width: 320px;
    font-family: 'Oswald', sans-serif;
    color: var(--text-color);
    line-height: 24px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

.site__container {
    overflow: hidden;
}

.visually__hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px 1px 1px 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}
/*-------------------------------------------- basis sett end*/

/*-------------------------------------------- mouse style start*/
.mouse {
    position: fixed;
    left: 0;
    top: 0;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    z-index: 9999999999;
    pointer-events: none;
}

.mouse::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #d7d7d7;
    box-shadow: 4px 4px 4px #cccaca;
    z-index: 2;
    transition: opacity .3s ease-in-out;
}

.mouse::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background: #cdcdcd;
    transition: opacity .3s ease-in-out;
}

.mouse__view {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    z-index: 50;
}

.view-visible .mouse__view {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.links-visible::after {
    border: 4px solid #cdcdcd;
    transform: translate(-50%, -50%) scale(0.5);
    background-color: transparent;
    transition: .3s;
}

.links-visible::before {
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

/*-------------------------------------------- mouse style end*/

/*-------------------------------------------- preloader style  start*/
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: var(--preloader-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.preloader__back {
    font-family: 'Merriweather', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 360px;
    line-height: 453px;
    color: #fff;
    opacity: 0;
    transform: translateX(7%);
    transition: opasity .3s cubic-bezier(0.770, 0.125, 0.265, 1.040);
    animation: preloader 25s linear;
}

.preloader__forward {
    font-family: 'Merriweather', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 91px;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -20%);
    opacity: 0;
    transition: opacity .3s cubic-bezier(0.770, 0.125, 0.265, 1.040), transform .5s cubic-bezier(0.770, 0.125, 0.265, 1.040);
}

.preloader__bg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 330px;
    height: 220px;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.preloader__bg::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fff;
    transition: width .7s cubic-bezier(0.770, 0.125, 0.265, 1.040);
}

@keyframes preloader {
    0% {
        transform: translateX(7%);
    }
    100% {
        transform: translateX(-100%);
    }
}
/*-------------------------------------------- preloader style  end*/

/*-------------------------------------------- preloader anomation  start*/
.preloader-animation .preloader__back {
    opacity: 0.15;
}

.preloader-animation .preloader__forward {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.preloader-animation .preloader__bg::before {
    transition-delay: 0.5s;
    width: 330px;
}

.preloade-hidden .preloader__back {
    opacity: 0;
    transition: opacity .3s cubic-bezier(0.770, 0.125, 0.265, 1.040), transform .3s cubic-bezier(0.770, 0.125, 0.265, 1.040);
}

.preloade-hidden .preloader__bg::before {
    width: 0;
}

.preloade-hidden .preloader__forward {
    opacity: 0;
    transition-delay: 0.5s;
    transform: translate(-50%, -50%);
    transition: opacity .3s ease-in-out;
}

.preloader-none {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out,  visibility .3s ease-in-out;
}
/*-------------------------------------------- preloader anomation  end*/

/*-------------------------------------------- header style  start*/
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    min-width: 320px;
    padding: 30px 0;
    opacity: 0;
    transform: translateY(100px);
}

.header__container {
    display: flex;
    align-items: center;
}

.logo {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.logo__letter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 100%;
    width: 37px;
    height: 37px;
    margin-right: 10px;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item:not(:last-child) {
    margin-right: 63px;
}

.header__nav {
    margin-left: 16.5%;
}

.nav__link {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header__burger {
    margin-left: auto;
}

.burger {
    position: relative;
    width: 60px;
    height: 9px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.burger::before,
.burger::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}
/*-------------------------------------------- header style  end*/

/*-------------------------------------------- content style  start*/
.main__section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-height: 750px;
    transition: background-color 1s;
}

.slide-1 {
    background-color: #b1b3b2;
}

.slide-2 {
    background-color: #f1f1f1;
}

.slide-3 {
    background-color: #b5b7b4;
}

.slide-4 {
    background-color: #b5b8c2;
}

.slide-5 {
    background-color: #c4c3c0;
}

.wrapper {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

.slides__container-left {
    position: relative;
    width: 48%;
    flex-shrink: 0;
    padding-top: 67px;
}

.slides__container-slide {
    position: absolute;
    z-index: 20;
    width: 100%;
    left: 0;
    top: calc(67px + 50px);
    pointer-events: none;
    /* opacity: 0; */
}

.slides__container-slide--active {
    pointer-events: auto;
    opacity: 1;
}

.main__section-explore {
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(100px);
}

.slides__container-text {
    width: 100%;
    position: relative;
    flex-shrink: 0;
}

.slides__container-title {
    margin-bottom: 70px;
    font-family: 'Merriweather', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 120px;
    line-height: 130px;
    color: #FFFFFF;
    opacity: 0;
    transform: translateY(100px);
}

.slides__container-title--dark {
    color: #000;
}

.designers__info {
    display: flex;
    opacity: 0;
    transform: translateY(100px);
}

.designers__info-descr {
    margin-left: 30px;
}

.designers__info-country {
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.designers__info-by {
    font-size: 14px;
    line-height: 18px;    
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #727272;
}

.shapes {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 33.3%;
}

.shapes__item {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
}

.shapes__content {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.shapes__item--current {
    opacity: 1;
    z-index: 11;
}

.slide-bg {
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    height: 560px;
    width: 57.4%;
    margin-left: -5.4%;
}

.slide-bg__inner {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
}

.index {
    z-index: 10;
}

.slide-bg__inner--current {
    opacity: 1;
    z-index: 11;
    pointer-events: auto;
}

.slide-bg__link {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*-------------------------------------------- content style  end*/

/*-------------------------------------------- adaptive style  start*/
@media (max-height: 749.9px) {
    .main__section {
        min-height: 640px;
    }

    .slides__container-title {
        font-size: 100px;
        line-height: 100px;
        margin-bottom: 40px;
    }

    .slide-bg {
        height: 450px;
        width: 52%;
    }
}

@media (max-width: 992px) {
    .mouse {
        display: none;
    }

    *, 
    *::after,
    *::before {
        box-sizing: border-box;
        cursor: auto !important;
    }

    .preloader__forward {
        width: 500px;
        text-align: center;
        font-size: 55px;
        line-height: 70px;
    }

    .designers_info-img {
        width: 40%;
        min-width: 150px;
    }
}

@media (max-width: 768px) {
    .main__section {
        padding-top: 100px;
        height: auto;
        min-height: 100vh;
    }

    .wrapper {
        flex-direction: column-reverse;
        justify-content: initial;
    }

    .main__section-explore {
        display: none;
    }

    .slides__container-slide--active {
        position: relative;
    }

    .slides__container-slide {
        top: -90px;
    }

    .slide-bg {
        width: 100%;
        height: 350px;
        margin-left: 0;
    }

    .slides__container-left {
        width: 100%;
        padding-top: 0;
    }

    .shapes {
        display: none;
    }

    .designers_info-img {
        width: auto;
    }

    .header__nav {
        display: none;
    }

}

@media (max-width: 576px) {
    .slide-bg {
        height: 250px;
    }

    .slides__container-title {
        font-size: 80px;
        line-height: 80px;
    }

    .preloader__forward {
        width: 90%;
        font-size: 35px;
        line-height: 45px;
    }
}

@media (max-width: 420px) {
    .slides__container-title {
        font-size: 60px;
        line-height: 70px;
    }

    .slides__container-slide {
        top: -65px;
    }

    .designers_info-img {
        width: 40%;
    }
}
/*-------------------------------------------- adaptive style  end*/
